* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    text-align: center;
}

body {
    background-image: url("https://cdn.motor1.com/images/mgl/MkOw3X/s3/evolucion-gama-bmw-m5-portada.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
}

h1 {
    color: white;
}

#survey-form {
    width: 400px;
    padding: 23px;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 10px;
    margin: auto;
    text-align: left;
}

p {
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.name, .email, .age, .brand {
    width: 100%;
    margin: 10px 0;
    font-size: 18px;
}

input[type="text"], input[type="email"], input[type="number"], input[type="radio"], select {
    width: 100%;
    padding: 10px;
    margin-top: 8px;
    border-radius: 6px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type="radio"] {
    width: auto; 
    margin-right: 5px; 
}

label {
    display: inline-block;
    margin-bottom: 5px; 
    font-size: 18px;
    text-align: left;
}

select {
    width: 100%;
}

.radio-group {
    margin-top: 10px; 
}

.radio-group label {
    display: inline-block;
    margin-right: 15px; 
    font-size: 18px;
}

.radio-group input[type="radio"] {
    margin-right: 5px; 
}

.favcolor select {
    width: 100%;
}

.submit {
    margin: auto;
    display: flex;
    border-radius: 7px;
}