* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:fantasy;
    background-image: url("/PCClinic/images/landing-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: #003366;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100px;

}

.img-right{
    float: right;
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
}
