* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:fantasy;
    background-image: url("/PCClinic/images/landing-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: #003366;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100px;

}

.img-left {
    z-index: 999;
    position: relative;
}

.img-right{
    float: right;
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
}

.blue-box {
    background-color: rgba(114, 136, 170, 0.6);
    border-radius: 12px;
    border: 1px solid #000;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 60%;
    height: 50%;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70%;
    height: auto;
    margin-top: 20px;
}

.blue-box a {
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    background-color: #003366;
    width: 200px;
    height: 40px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

    /*  MENU    */

ul{
    list-style: none;
}
.menu {
  position: fixed;
  top: 85px;
  right: 0;
  width: 100%;
  height: fit-content;
  background-color: #003366;
  z-index: 990;
  
  display: none;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  gap: 20px;

  border-bottom-left-radius: 12px;
  overflow-y: auto;
}

.menu.show {
  display: flex;
}


.menu li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

.menu li{
    text-align: center;
    align-items: center;
}

.menu li a:hover {
    text-decoration: underline;
}