* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:fantasy;
    background-image: url("/PCClinic/images/landing-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    width: 100%;
    background-color: #003366;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100px;

}

.img-right{
    float: right;
    display: flex;
    padding-right: 20px;
    padding-top: 20px;
}

.blue-box{
    background-color: rgba(126, 157, 204, 0.6);
    padding: 40px;
    border-radius: 12px;
    border-color: #000;
    border-width: 1px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    color: #000;
    width: 750px;
    height: 670px;
    align-items: center;
    margin: auto;
    display: flex;
    margin-top: 50px;
}